

.form{
    position: absolute;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: center;
    padding: 2rem;
    top: 20%;
    left: 20%;
   
}
.form button{
   height: 2rem;
    background-color: green;
    color: #fff;
    font-size: larger;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
}
.form input{
    border: none;
    height: 2rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: large;
    padding-left: .5rem;
}